.cold {
  background-color: rgb(88, 30, 142);
  color: white;
}

.chilly {
  background-color: blueviolet;
  color: white;
}

.cool {
  background-color: palevioletred;
  color: white;
}

.warm {
  background-color: orange;
}

.hot {
  background-color: yellow;
}

.nuclear {
  background-color: white;
}

button {
  font-size: 20px;
  box-shadow: 3px 3px black;
  border: 3px solid black;
  padding: 10px 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
