* {
  box-sizing: border-box;
}

body {
  font-family: Karla, sans-serif;
}

#container {
  width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 4px;
  margin-bottom: 0;
}

p {
  font-size: 12px;
  line-height: 2;
  color: gray;
}

h3 {
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
}

.fullcolumn {
  flex-basis: 55%;
}

.textcolumn {
  flex-basis: 25%;
  margin-top: 3%;
}

.imgcolumn {
  flex-basis: calc(100% / 10);
  margin-top: 2%;
}

.middle {
  flex-basis: 8%;
}

.button {
  flex-basis: 15%;
  margin-top: 3%;
}

button#learnmore {
  background-color: white;
  width: 100%;
  padding: 6% 12%;
  color: #d14c45;
  border-color: #d14c45;
  border-width: 1.5px;
  border-style: solid;
  text-transform: uppercase;
  font-family: Karla, sans-serif;
  font-size: 12px;
}

button#learnmore:hover {
  background-color: #d14c45;
  color: white;
  cursor: pointer;
}

img {
  width: 100%;
}
