div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

button {
  width: 300px;
  flex-basis: 20%;
  padding: 10px;
  font-size: larger;
  border: 2px solid black;
  cursor: pointer;
  background-color: rgb(189, 189, 189);
}

button:hover {
  background-color: rgb(228, 228, 228);
}

p {
  margin: 0;
  flex-basis: 20%;
  width: 276px;
  border: 2px solid black;
  padding: 10px;
}
